<% provide(:title, 'Main') %>
<div class="container">

  <h1>BladeLogic Test Feed</h1>
  <ul class="nav nav-list">
    <li><a href="#"><i class="icon-home icon-white"></i> Jobs</a></li>
    <li><a href="#"><i class="icon-gift"></i> Packages</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Servers</a></li>
    <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
  </ul>
</div> <!-- /container -->